<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mengsoft.webbackend.dao.ArticleMapper">
  <resultMap id="BaseResultMap" type="org.mengsoft.webbackend.model.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ARTICLE_ID" jdbcType="INTEGER" property="articleID" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="ARTICLE_ABSTRACT" jdbcType="VARCHAR" property="articleAbstract" />
    <result column="TAGS" jdbcType="VARCHAR" property="tags" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="OWNER" jdbcType="VARCHAR" property="owner" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="MODIFY_DATE" jdbcType="DATE" property="modifyDate" />
    <result column="ARTICLE_TYPE" jdbcType="VARCHAR" property="articleType" />
  </resultMap>
  <select id="selectArticlesByUsernameAndBound" parameterType="java.util.Map" resultMap="BaseResultMap">
SELECT
A.ARTICLE_ID,
A.TITLE,
A.ARTICLE_ABSTRACT,
A.TAGS,
A.URL,
A.STATUS,
A.OWNER,
A.CREATE_DATE,
A.MODIFY_DATE,
A.ARTICLE_TYPE,
A.RATE,
A.PRIORITY
FROM
BASE_ARTICLE_INFO A LEFT JOIN BASE_USER_INFO B ON A.OWNER = B.USER_ID
WHERE A.STATUS = 1 AND B.USER_NAME = #{username}
LIMIT #{startNum}, #{endNum}

    </select>
  <select id="selectCountArticlesByUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
SELECT
COUNT(A.ARTICLE_ID)
FROM
BASE_ARTICLE_INFO A LEFT JOIN BASE_USER_INFO B ON A.OWNER = B.USER_ID
WHERE A.STATUS = 1 AND B.USER_NAME = #{username}

    </select>
  <select id="selectMaxID" parameterType="java.lang.String" resultType="java.lang.Integer">
select MAX(ARTICLE_ID)
    from BASE_ARTICLE_INFO

    </select>
</mapper>